name: Log Analyzer CI

on:
push:
branches: [ "main" ]

jobs:
run-log-analyzer:
runs-on: ubuntu-latest

steps:
- name: Checkout repo
uses: actions/checkout@v3

- name: Set up Python
uses: actions/setup-python@v4
with:
python-version: "3.10"

- name: Run log analyzer
run: python app.py
