name: Log Analyzer CI

on:
  push:
    branches:
        - main

jobs:
   build:
      runs-on: ubuntu-latest

steps:
  - name: Checkout repo
    uses: actions/checkout@v4

    - name: Build Docker Image
      run: Docker build -t flask-app .
      
